@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {	
	--body-font: "Inter", sans-serif;
	--heading-font: "Space Grotesk", sans-serif;
	--body-size: 0.9rem;
	--h1-size: 2rem;
	--h2-size: 1.5rem;
	--h3-size: 1.2rem;

	--gutter: 1rem;
	--vertical: 2rem;

	--black: #171717;
	--dark-pink: #BF4377;
	--medium-pink: #F57AAD;
	--light-pink: #FA87B7;
	--baby-pink: #F9ECF0;
	--baby-baby-pink: #fdf8fa;
	--white: #FFFFFF;
	--light-grey: #F2F2F2;
}

/* Wanted a cool pattern behind my work */
/* Found this pattern collection: https://css-pattern.com/ */
/* I learned that you can layer multiple CSS gradients to... */
/* html {
	--s: 98px;
	--grid-line: #336666;
	--c2: #ffffff;
	
	--_g: #0000 90deg,var(--grid-line) 0;
	background: 
		conic-gradient(from 90deg at 2px 2px,var(--_g)),
		conic-gradient(from 90deg at 1px 1px,var(--_g)),
		var(--c2);
	background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
} */

/* body {
	display: grid;
	grid-template-rows:1fr auto;
} */

/* ------------ type ------------- */

h1 {
	font-size: var(--h1-size);
	font-family: var(--heading-font);
}

h2 {
	color: var(--black);
	font-size: var(--h2-size);
	font-family: var(--body-font);
}

h3 {
	color: var(--black);
	font-size: var(--h3-size);
	font-family: var(--heading-font);
	font-weight: 600;
}

p {
	color: var(--black);
	font-size: var(--body-size);
	font-family: var(--body-font);
	font-weight: 300;
	line-height: 1.2rem;
}

/* ------------ layout ------------- */

main {
	display: flex;
	flex-direction: column;
}

.intro {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
	padding-inline: var(--gutter);
	padding-block-start: 24rem;
	padding-block-end: var(--vertical);
}

.intro p {
	font-weight: 400;
}

footer {
	color: var(--background);
	background-color: var(--color);
	padding: var(--vertical);
}

footer p {
  text-align: center;
  font-size: 0.75rem;
}

/* ------------ navigation ------------- */

#off-screen-menu {
	background-color: var(--light-grey);
	height: 100vh;
	width: 100%;
	max-width: 450px;
	position: fixed;
	top: 0;
	right: -450px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	transition: 0.3s ease;
}

#off-screen-menu.active {
	right:0;
}

nav {
	padding: var(--gutter);
	display: flex;
}

#ham-menu {
	height: 48px;
	width: 48px;
	margin-inline-start: auto;
	border: 1px solid var(--dark-pink);
	position: relative;
}

#ham-menu:hover {
	background-color: var(--baby-pink);
}

#ham-menu span {
	height: 3px;
	width: 70%;
	background-color: var(--dark-pink);
	border-radius: 25px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}

#ham-menu span:nth-child(1) { top: 30%; }
#ham-menu span:nth-child(2) { top: 50%; }
#ham-menu span:nth-child(3) { top: 70%; }

#close-menu {
	top: var(--gutter);
	right: var(--gutter);
	height: 48px;
	width: 48px;
	margin-inline-start: auto;
	border: 1px solid var(--dark-pink);
	position: relative;
}

#close-menu:hover {
	background-color: var(--baby-pink);
}

#close-menu span {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 70%;
	height: 3px;

	background-color: var(--dark-pink);
	border-radius: 25px;

	transform-origin: center;
}

#close-menu span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

#close-menu span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#nav-logo {
	display: inline-flex;
	align-items: center;
}

#nav-logo img {
	height: 48px;
	max-height: 100vh;
	width: auto;
	display: block;
}

#nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: var(--vertical);
	margin: 0;
	padding: 0;
}

#nav-links a {
	text-decoration: none;
	color: var(--black);
	font-family: var(--heading-font);
	font-weight: 500;
	font-size: var(--body-size);
}

#nav-links a:hover {
	opacity: 0.75;
	color: var(--medium-pink);
}

.contact {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 34px;
	padding: calc(0.5*var(--gutter));

	border-radius: 9999px;
	background: var(--light-pink);
	color: var(--white);

	text-decoration: none;
	font-family: var(--body-font);
	font-weight: 500;
	font-size: var(--body-size);
}

a.contact:hover {
  	color: var(--dark-pink);
 	background-color: var(--light-pink);
}

/* ------------ project covers ------------- */

#projects {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--gutter);
	padding-inline-start: var(--gutter);
}

.project-cover {
	aspect-ratio: auto;
	display: grid;
	grid-template-rows: 1fr auto;

	border: 1.2px solid var(--light-grey);

	text-decoration: none;
	color: inherit;
	background: var(--white);
}

.project-cover:hover {
	border-color: var(--dark-pink);
	background-color: var(--baby-baby-pink);
}

.project-cover:hover h3 {
	color: var(--dark-pink);
}

.project-content {
	padding: var(--gutter);
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--gutter);
}

.project-meta {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gutter)/2);
}

.tags {
	display: flex;
	flex-direction: rows;
	gap: calc(var(--gutter)/2);
	margin: 0;
	padding: 0;
	list-style: none;
}

.tag-pills {
	background-color: var(--baby-pink);
	color: var(--dark-pink);
	font-family: var(--body-font);
	font-size: 0.75rem;
	font-weight: 400;
	padding: calc(var(--gutter)/2);
	border-radius: 9999px;
	display: inline-flex;
	white-space: nowrap;
}


.project-media {
	aspect-ratio: 16 / 9;
	width: 100%;
	overflow: hidden;
}

.project-image {
	border-bottom: 1.2px solid var(--light-grey);
	width: 100%;
	height: auto;
	display: block;
	object-fit: contain;
}

.project-description {
	padding-block-end: var(--gutter);
	padding-inline: var(--gutter);
}

@media (width>600px) {
	
	#projects {
		grid-template-columns: repeat(2, 1fr);
	}

	.project-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

@media (width>1200px) {

	main {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 6rem;
	}

	.intro {
		margin-top: auto;
	}

	#projects {
		flex: 0 0 700px;
		margin-left: auto; 
		grid-template-columns: 1fr;
		row-gap: var(--gutter);
	}

	.project-content {
		display: grid;
		grid-template-columns: 120px 1fr;
		align-items: start;
		gap: var(--gutter);
	}

	.project-description {
		padding-block-start: var(--gutter);
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 0.25s ease, max-height 0.25s ease;
	}

	.project-cover {
		grid-template-columns: 1fr auto;
	}

	.project-cover:hover .project-description {
		opacity: 1;
		max-height: 200px;
	}
}