@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
	font-family: 'Satoshi';
	src: url('assets/fonts/Satoshi-Regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Satoshi';
	src: url('assets/fonts/Satoshi-Medium.otf') format('opentype');
	font-weight: 500;
}

:root {
	--body-font: "Inter", sans-serif;
	--heading-font: "Satoshi", sans-serif;
	/* --satoshi-regular: "Satoshi", sans-serif;
	--satoshi-medium: "Satoshi", sans-serif; */
	--body-size: 0.9rem;
	--h1-size: 4rem;
	--h2-size: 1.5rem;

	--gutter: 1.5rem;

	--black: #171717;
	--white: #FFFFFF;
	--light-grey: #F0F0F0;
}

/* ------------ type ------------- */

h1 {
	font-size: var(--h1-size);
	font-family: var(--heading-font);
	font-weight: 600;
	line-height: var(--h1-size);
}

h2 {
	color: var(--black);
	font-size: var(--h2-size);
	font-family: var(--body-font);
	font-weight: 400;

	@media (width>700px) {
		font-size: calc(var(--h2-size)*2);
	}
}

p {
	color: var(--black);
	font-size: var(--body-size);
	font-family: var(--body-font);
	font-weight: 300;
	line-height: 1.2rem;
}

/* ------------ layout ------------- */

main {
	display: flex;
	flex-direction: column;
	padding-inline: var(--gutter);
	padding-block-end: var(--gutter);
	gap: calc(2*var(--gutter));
	align-items: center;
}

#hero {
	block-size: 80svh;
	display: flex; 
	flex-direction: column; 
	justify-content: space-between;
	align-items: center;

	#intro {
		position: relative;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		gap: var(--gutter);
		align-items: center;
		max-inline-size: 36rem;
		align-items: center;

		video {
			position: relative;
			max-inline-size: 24rem;
		}

		#intro-text {
			text-align: center;
		}
	}
}

@keyframes bounce {
	0%, 60%, 100% { transform: translateY(0); }
	30%           { transform: translateY(-10px); }
}

#scroll {
	animation: bounce 3s ease-in-out infinite;
}

/* ------------ nav ------------- */

#nav {
	display: block;
	inline-size: 100%;
	position: sticky; 
	top: 0; 
	z-index: 100; 
	/* background: var(--white); */
	padding-block: var(--gutter);

	#nav-links {
		list-style: none;
		display: flex;
		flex-direction: row;
		inline-size: 100%;
		justify-content: space-between;
	}

	#nav-links a {
		display: block;
		text-decoration: none;
		color: var(--black);
		font-family: var(--body-font);
		font-weight: 300;
		font-size: var(--body-size);
		/* padding-inline: 0.2rem; */
		/* backdrop-filter: invert(100%); */
	}

	#nav-links a:hover {
		color: var(--white);
		background-color: var(--black);
		transition: 0.5s ease;
	}
}

#logo {
	display: inline-flex;
	align-items: center;
}

#logo img {
	height: 36px;
	max-height: 100vh;
	width: auto;
	display: block;
}

/* ------------ projects section ------------- */

#projects {
	display: flex;
	flex-direction: column;
	gap: var(--gutter);
	padding-block-start: 4rem;
}
 
.project-cover {
	aspect-ratio: auto;
	display: flex;
	flex-direction: column;
 
	text-decoration: none;
	color: var(--black);
	background: var(--white);
 
	overflow: hidden;
	transition: border-color 0.2s ease;

	&:hover .project-title {
		color: var(--white);
		background-color: var(--black);
		transition: 0.5s ease;
	}
}

 
.project-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: var(--gutter);
	padding-block-end: var(--gutter);

	@media (width>700px) {
		flex-direction: row;
		flex: 1;
	}

	.project-meta {
		display: flex;
		flex-direction: column;
		gap: var(--gutter);
		flex: 1;

		@media (width>700px) {
			flex-grow:2;
		}
	}

	.project-image {
		inline-size: 100%; 
		block-size: 100%;
		display: block;
		object-fit: cover;
		flex: 1;

		@media (width>700px) {
			max-inline-size: 40%;
		}
	}

	.tags {
		text-align: end;
		flex: 1;
	}
}

/* #ham-menu {
	height: 48px;
	width: 48px;
	margin-inline-start: auto;
	position: relative;
	background-color: var(--light-grey);
	border-radius: 0.2rem;
}


#ham-menu span {
	height: 3px;
	width: 70%;
	background-color: var(--black);
	border-radius: 25px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s ease;
}

#ham-menu span:nth-child(1) { top: 30%; }
#ham-menu span:nth-child(2) { top: 50%; }
#ham-menu span:nth-child(3) { top: 70%; }

#close-menu {
	top: var(--gutter);
	right: var(--gutter);
	height: 48px;
	width: 48px;
	margin-inline-start: auto;
	border: 1px solid var(--dark-pink);
	position: relative;
}

#close-menu:hover {
	background-color: var(--baby-pink);
}

#close-menu span {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 70%;
	height: 3px;

	background-color: var(--dark-pink);
	border-radius: 25px;

	transform-origin: center;
}

#close-menu span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}

#close-menu span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#off-screen-menu {
	@media (width>700px) {
		inline-size: 60%;
		background-color: var(--light-grey);
	height: 100vh;
	width: 100%;
	max-width: 450px;
	position: fixed;
	top: 0;
	right: -450px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: start;
	transition: 0.3s ease;
}

#off-screen-menu.active {
	right:0;
} */



/* .contact {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 34px;
	padding: calc(var(--gutter)/2);

	border: 1px solid var(--dark-pink);
	background: var(--white);
	color: var(--dark-pink);

	text-decoration: none;
	font-family: var(--body-font);
	font-weight: 500;
	font-size: var(--body-size);
} */